@model IEnumerable<CinemaProject.Models.FilmViewModel>;
@{
    ViewBag.Title = "FilmIndex";
}


<div class="text-center">
    <h1 class="display-4">Che Film vuoi guardare?</h1>
    
</div>
<hr />

<table bordercolor="black" align="center">
    <tr><img src="https://mr.comingsoon.it/imgdb/locandine/big/1182.jpg" alt="" height=300 width=200></img></tr>
    <tr><h5>Pulp Fiction</h5></tr>
    @if(Model != null && Model.Any())
    {
       foreach(var film in Model)
        {
            <tr>
                  @Html.ActionLink("Dettagli", "DetailsFilm", new{ Id=film.IdFilm})
            </tr>   
        }
    }
    else
    {
        <tr><h6>Errore!</h6></tr>
    }
</table>
<table bordercolor="black" align="center">
    <tr><img src="https://www.warnerbros.it/wp-content/uploads/2015/09/LEsorcista-Poster-Italia.jpg" alt="" height=300 width=200></img></tr>
    <tr><h5>L'Esorcista</h5></tr>
    @if(Model != null && Model.Any())
    {
       foreach(var film in Model)
        {
            <tr>
                  @Html.ActionLink("Dettagli", "DetailsFilm", new{ Id=film.IdFilm})
            </tr>   
        }
    }
    else
    {
        <tr><h6>Errore!</h6></tr>
    } 
</table>