@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Multisala Cinema</h1>
    <h2>Scegli il Film e acquista il biglietto</h2>
    @Html.ActionLink("Film", "FilmIndex", "Film")
</div>

    

